.red {
    color : #ff0000;
}

@mixin 함수() {
    background: #e0ddc4;
    padding: 15px 20px;
    border-radius: 5px;
    max-width: 500px;
    width: 100%;
    margin: 20px auto;
}

.my-alert {
    @include 함수()
}

.my-alert p {
    margin-bottom: 0;
}

.my-alert-red {
    @extend .my-alert;
    background: red;
}
